// module encapsulator
$moduleName:"content";

// module breakpoints
$breakpoints: 'small' (320px),'medium' (600px),'large' (768px),'extra-large' (768px);

// ---------------------------------------------------------------------- //
//                             DEFAULTS                                   //
// ---------------------------------------------------------------------- //



// ---------------------------------------------------------------------- //
//                             MEDIA QUERIES                              //
// ---------------------------------------------------------------------- //

.js .#{$moduleName} {  

// ---------------------------------------------------------------------- //
//                             small                                      //
// ---------------------------------------------------------------------- //

@include respond-to('small') {
    content: 'small';
}

// ---------------------------------------------------------------------- //
//                             medium                                     //
// ---------------------------------------------------------------------- //

@include respond-to('medium') {
    content: 'medium';
}

// ---------------------------------------------------------------------- //
//                             large                                      //
// ---------------------------------------------------------------------- //

@include respond-to('large') {
    content: 'large';
}

// ---------------------------------------------------------------------- //
//                             extra-large                                //
// ---------------------------------------------------------------------- //

@include respond-to('extra-large') {
    content: 'extra-large';
}

} // end module wrapper 